<style>
    .center-box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        width: 400px;
    }
    .forgot-password{
        float: right;
        text-decoration: none;
    }
</style>



<div class="center-box">
  <h2>登录</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-validate" }) do |f| %>
    <br>
    <div class="form-group">
      <%= f.label "邮箱", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <br>
    <div class="form-group">
      <div >
        <%= f.label "密码", class: "form-label" %>
        <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "忘记密码？", new_password_path(resource_name), class: "forgot-password"%>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <br>
    <% if devise_mapping.rememberable? %>
      <div class="mb-3 form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label "保持登录状态", class: "form-label" %>
      </div>
    <% end %>

    <div class="d-grid gap-2">
      <%= f.submit "登录", class: "btn btn-primary" %>
      <% if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "注册", new_registration_path(resource_name), class: "btn btn-secondary"%>
      <% end %>
    </div>
  <% end %>

</div>
