<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="<%= asset_path('fds_logo_dark.png') %>">
  <title>Fds</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'libs/spark-md5.min' %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery_ujs.js' %>
  <%= javascript_importmap_tags %>

  <style>
      .custom-nav {
          background-color: #fff;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          width: 100%;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 9999;
      }

     .custom-content {
         height: 100%; /* 设置固定高度以触发垂直滚动 */
         overflow-y: auto; /* 允许垂直滚动 */
         overflow-x: hidden; /* 禁用水平滚动 */

         /*background-color: #f7f7f7;*/
         padding: 0;
         padding-top: 60px;
         padding-bottom: 60px;
     }

     .custom-footer {
         position: fixed;
         bottom: 0;
         left: 0;
         width: 100%;
         text-align: center;
     }

  </style>

</head>

<header>

  <nav class="navbar navbar-expand-md custom-nav ">
    <div class="container-fluid">
      <div class="navbar-collapse" id="navbarNav">

        <div class="navbar-nav mr-auto">
          <a class="navbar-brand" href="<%= file_explore_path(dir: "/") %>">
            <img src="<%= asset_path('fds_logo_dark.png') %>" alt="Bootstrap" width="54" height="30">
          </a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <% if signed_in? %>
              <a class="nav-link active" aria-current="page" href="<%= file_explore_path(dir: "/") %>">主目录</a>
              <% end %>
            </div>
          </div>

        </div>



        <div class="navbar-nav mx-auto">

          <form class="d-flex" role="search">
            <% if signed_in? %>
            <input class="form-control me-2" type="search" placeholder="文件名" aria-label="Search" style="width: 300px">
            <button class="btn btn-dark" type="submit" style="width: 100px">搜索</button>
            <% end %>
          </form>

        </div>



        <div class="navbar-nav ml-auto">

          <% if user_signed_in? %>

            <div class="dropdown">
              <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.user_name %>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
<!--                <li><a class="dropdown-item" href="#">用户信息</a></li>-->
                <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">修改密码</a></li>
                <li><a class="dropdown-item" href="javascript: void(0)">个人配置</a></li>
                <% if is_admin? %>
                  <li><a class="dropdown-item" href="javascript: void(0)">系统管理</a></li>
                <% end %>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <%= link_to "退出登录", destroy_user_session_path, :method => :delete, class: "dropdown-item"%>
                </li>
              </ul>
            </div>

          <% else %>
            <%= link_to "登录", new_session_path(resource_name), class: "btn btn-dark"%>
          <% end %>


        </div>
      </div>
    </div>
  </nav>

</header>

<body>
  <div class="custom-content">
    <div id="loadingOverlay" style="display: none;">
      <div id="loadingSpinner"></div>
    </div>
    <div class="container mt-5">
      <%= render_flash_messages %>
      <%= yield %>
    </div>
  </div>



  <footer class="bg-light text-center text-lg-start custom-footer">
    <div class="text-center p-2">
      &copy; 2024 Your Website. All rights reserved.
    </div>
  </footer>

</body>
</html>

<style>
    #loadingOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(252, 252, 252, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    #loadingSpinner {
        width: 40px;
        height: 40px;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            // 显示等待弹框
            $("#loadingOverlay").show();
        });

        $(document).ajaxStop(function () {
            // 隐藏等待弹框
            $("#loadingOverlay").hide();
        });
    })
</script>
